html, body {
    margin: 0;
    padding: 0;
    background-color: #eee9e7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*
    width: 100%;
    height: 100%;  */

}

.grid {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 8rem auto 10rem;
}
.container {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-top: 0px;
    /* margin-bottom: 18px; */
    padding: 0px;
    flex-direction: row;
    color: #f0e7e7;
    justify-content: space-evenly;
    
}
.container li {
    border: 1px solid rgb(241, 170, 170);
    background-color: #c06e6e;
    align-items: center;
    font-family: "Pixelify Sans";
    font-size: 15px;
    border-radius: 10px;
    padding: 15px 25px;
   
}

.container a {
    color: #f0e7e7;
    text-decoration: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #9c5252;
    grid-area: header;
    text-align: center;
    flex-direction: column;
     justify-content: space-around;

}

.head1 {
    color: #f0e7e7;
    font-family: "Press Start 2P", "consolas";
    font-size: 4vw;
}

/* kontakt form */

input[type=text], select, textarea {
  width: 70%;
  padding: 8px;
  border: 1px solid #f0e7e7;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 1px;
  resize: vertical;
}

textarea {
    height: 120px;
}


input[type=submit] {
  background-color: #c06e6e;
  color: #f0e7e7;
  font-family: "pixelify sans";
  font-size: 20px;
  padding: 18px 26px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pform { 
    display: block;
    color: #f0e7e7;
    font-family: "pixelify sans", "inconsolata";
    font-size: 25px;
    font-weight: 650;
    margin-left: 50px;
    text-align: left;
}
/* kontaktform slut */

.main {
    grid-area: main;
    text-align: center;
}

.head2 {
    font-family: "pixelify sans";
    font-size: 27px;
}
.programmer {
    text-align: center;
}

.programtext {
    gap: 3em;
    color: #000000;
    text-align: center;
    font-family: "inconsolata";
    font-size: calc(20px + .2vw);
    margin: 33px;
}

/*
.projects1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
*/

.projects1 {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center; 
    font-size: calc(22px + .5vw);
    flex-wrap: nowrap;
    
}

.starttext {
    color: #000000;
    text-align: left;
    font-family: "inconsolata";
    font-size: calc(20px + .2vw);
    margin: 33px;
} 

.billede {
    margin: auto;
    width: 288px;
    height: 162px;
    border-radius: 20px;
}

.item {
    background-color: #4d4040;
    color: #f0e7e7;
    border: 1px solid rgb(66, 56, 56);
    margin: 30px;
    min-width: 300px;
    width: 75vw;
    border-radius: 20px;
    font-family: "inconsolata";
}
.itemkontakt {
    background-color: #4d4040;
    border: 1px solid rgb(66, 56, 56);
    margin: auto;
    margin-top: 6vh;
    width: 70vw;
    padding: 10px;
    border-radius: 20px;

}

.footer {
    background-color: rgb(22, 22, 22);
    margin-top: auto;
    padding-left: 25px;
    grid-area: footer;
    text-align: left;
    color: #ffffff;
}

.footer p {
    color: #ffffff;
    font-family: "pixelify sans";
    font-size: calc(20px + .2vw);
}
.footer a {
    color: #ffffff;
    font-family: "pixelify sans";
    font-size: calc(20px + .2vw);
}

@media only screen and (min-width: 550px) and (max-width: 959px){

.item {
    margin: 30px;
    width: 55vw;
}

.head1 {
    font-size: 3vw;
}
}

@media only screen and (min-width: 960px){
    
.grid {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.container {
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-direction: row;
}
    
.item {
    margin: 30px;
    width: 40vw;
}

.head1 {
    font-size: 2.8vw;
}

}
