html, body {
    margin: 0;
    padding: 0;
    background-color: #E9E9E9;
    /*
    width: 100%;
    height: 100%;  */

}

.grid {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.container {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    color: #ffffff;
    justify-content: space-evenly;
    
}
.container li {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    width: 70px;
    height: 20px;

}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #2A2A2A;
    grid-area: header;
    text-align: center;
    flex-direction: column;

}

.head1 {
    color: #ffffff;
}

.main {
    grid-area: main;
    text-align: center;
}
.footer {
    background-color: rgb(26, 26, 26);
    grid-area: footer;
    text-align: center;
    color: #ffffff;
}


/* desktop 
@media only screen and (max-width: 600px)

.grid {
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}
.container {
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-direction: row;
    color: #ffffff;
    
}
.container li {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    width: 65px;
    height: 20px;

} 
    
.header {
    display: flex;
    background-color: #2A2A2A;
    grid-area: header;
    text-align: center;
    justify-content: space-around;
} */