html, body {
    margin: 0;
    padding: 0;
    background-color: #e4e4e4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*
    width: 100%;
    height: 100%;  */

}

.grid {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 8rem auto 10rem;
}
.container {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-top: 0px;
    /* margin-bottom: 18px; */
    padding: 0px;
    flex-direction: row;
    color: #ffffff;
    justify-content: space-evenly;
    
}
.container li {
    border: 1px solid rgb(224, 204, 204);
    background-color: rgb(163, 126, 126);
    align-items: center;
    font-family: "Pixelify Sans";
    font-size: 18px;
    border-radius: 10px;
    padding: 15px 25px;
   
}

.container a {
    color: #ffffff;
    text-decoration: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(139, 98, 98);
    grid-area: header;
    text-align: center;
    flex-direction: column;

}

.head1 {
    color: #ffffff;
    font-family: "Press Start 2P", "consolas";
    font-size: calc(18px + 1vw);
}

/* kontakt form */

input[type=text], select, textarea {
  width: 75%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 1px;
  resize: vertical;
}

textarea {
    height: 120px;
}


input[type=submit] {
  background-color: #4b1e1e;
  color: #ffffff;
  font-family: "pixelify sans";
  font-size: 20px;
  padding: 18px 26px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pform { 
    color: #4b1e1e;
    font-family: "pixelify sans", "inconsolata";
    font-size: 25px;
    font-weight: 650;
    margin-left: 50px;
    text-align: left;
}

.main {
    grid-area: main;
    text-align: center;
}


.head2 {
    font-family: "pixelify sans";
    font-size: 27px;
}
.tempimg {
    text-align: center;
}

/*
.projects1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
*/

.projects1 {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center; 
    font-size: calc(22px + .5vw);
    flex-wrap: nowrap;
    
}

.starttext {
    color: #000000;
    text-align: left;
    font-family: "inconsolata";
    font-size: calc(20px + .2vw);
    margin: 33px;
} 

.billede {
    margin: auto;
    width: 288px;
    height: 162px;
    border-radius: 20px;
}

.item {
    background-color: #4b1e1e;
    color: #ffffff;
    border: 1px solid black;
    margin: 30px;
    border-radius: 20px;
    font-family: "inconsolata";
}

.footer {
    background-color: rgb(22, 22, 22);
    margin-top: auto;
    padding-left: 25px;
    grid-area: footer;
    text-align: left;
    color: #ffffff;
}

.footer p {
    color: #ffffff;
    font-family: "pixelify sans";
    font-size: calc(20px + .2vw);
}
.footer a {
    color: #ffffff;
    font-family: "pixelify sans";
    font-size: calc(20px + .2vw);
}

/* desktop 
@media only screen and (min-width: 960px)

.grid {
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}
.container {
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-direction: row;
    color: #ffffff;
    
}
.container li {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    width: 65px;
    height: 20px;

} 
    
.header {
    display: flex;
    background-color: #2A2A2A;
    grid-area: header;
    text-align: center;
    justify-content: space-around;
} */